/***

    COLOR SCHEME

***/

$theme-base-color: #0c1118;
$theme-base-color-dark: #151b25;
$theme-base-color-very-dark: #07090e;
$theme-base-color-light: #17202b;
$theme-base-color-very-light: #1b2431;

$theme-accent-color: rgb(255, 173, 79);

/***

    COMMON

***/

$theme-border-hard: solid #2e60a1;
$theme-border-soft: solid #24364d;

$theme-font-color: white;
$theme-font-color-dark: rgb(94, 94, 94);


