/***

    COLOR SCHEME

***/

$theme-base-color: #11151b;
$theme-base-color-dark: #0e1829;
$theme-base-color-very-dark: #02070f;
$theme-base-color-light: #1c2f47;
$theme-base-color-very-light: #264366;

$theme-accent-color: #2e60a1;

$theme-highlight-color: rgb(172, 198, 255);

/***

    COMMON

***/

$theme-border-hard: solid #397dd6;
$theme-border-soft: solid #385a86;

$theme-font-color: white;
$theme-font-color-dark: #789496;


